@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype'),
        url('../fonts/Gotham-Book.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype'),
        url('../fonts/Gotham-Medium.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadpro-regular';
    src: url('../fonts/myriadpro-regular.woff2') format('woff2'),
        url('../fonts/myriadpro-regular.woff') format('woff'),
        url('../fonts/myriadpro-regular.ttf') format('truetype'),
        url('../fonts/myriadpro-regular.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.clr {
    clear: both;
    width: 100%;
    height: 0;
}
ul li {
    padding-left: 0;
}
body{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    color: #6c7279;
}
.creatives-main {
    position: relative;
    overflow: hidden;
}
.banner-img {
    background: url(../img/banner_img.jpg) no-repeat top center fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
}
.my-header {
    position: absolute;
    top: 0;
    width: 100%;
}
.new-navbar {
    background: none;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    font-family: 'myriadpro-regular';
    font-size: 16px;
}
.my-navbar>li>a {
    line-height: 70px;
}
.my-navbar>li>a {
    padding: 10px 22px;
}
.new-navbar .my-navbar>li>a {
    color: #fff;
}
.new-navbar .my-navbar>.active>a, .new-navbar .my-navbar>.active>a:focus, .new-navbar .my-navbar>.active>a:hover {
    color: #ffffff;
    background: none;
    border-bottom: 5px solid #11749e;
}
.new-navbar .my-navbar>li>a:focus, .new-navbar .my-navbar>li>a:hover {
    color: #fff;
    background: none;
    border-bottom: 5px solid #11749e;
}
.social-icon a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.social-icon a:hover {
    border: none !important;
}
.banner-text {
    position: absolute;
    top: 10%;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.banner-text h1 {
    color: #fff;
    font-family: 'Gotham-Bold';
    font-size: 100px;
}
.banner-text p {
    font-family: 'Gotham-Medium';
    color: #11749e;
    font-size: 30px;
    letter-spacing: 8px;
    word-spacing: 18px;
}
.scroll-down {
    border: 1px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 54px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -2%;
    margin-top: 60px;
}
.agency-section {
    background: #11749e;
    color: #fff;
    position: relative;
    padding-bottom: 80px;
}
.agency-features {
    text-align: center;
}
.desc {
    text-align: center;
    margin-top: 50px;
}
.Big {
    font-family: 'Roboto-Bold';
    font-size: 176px;
    opacity: .2;
}
.desc .other-heading {
    font-family: 'Gotham-Medium';
    position: absolute;
    top: 36%;
    left: 25%;
    font-size: 37px;
    text-transform: uppercase;
}
.feature-icon {
    text-align: center;
}
.icon-box {
    background-color: #2e85aa;
    width: 80px;
    height: 80px;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    line-height: 80px;
    margin-bottom: 5px;
    border-radius: 50%;
}
.agency-features h3 {
    font-family: 'Gotham-Medium';
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}
.agency-features p {
    font-family: 'Gotham-Book';
    font-size: 15px;
}
.padding-top {
    margin-top: 50px;
}
.culture-section {
    background-color: #000;
    color: #fff;
    padding: 98px;
}
.space-blank {
    padding-right: 0;
    padding-left: 0;
}
.culture-img img {
    width: 100%;
}
.culture-section-bg {
    background-color: #f3f3f3;
    color: #000;
}
.blog-section {
    background: #ffffff;
}
.desc .blog-heading {
    color: #222222;
    left: 41%;
}
.blog-big {
    color: #d7d7d7;
    opacity: 1;
}
.desc p {
    font-family: 'Gotham-Book';
    color: #222222;
    font-size: 30px;
}
.feature-icon img {
    width: 100%;
}
.agency-features .blog-heading {
    color: #11749e;
    margin-top: 20px;
}
.agency-features .blog-para {
    color: #222222;
    font-size: 14px;
    line-height: 18px;
}
.new-box {
    font-size: 50px;
}
.new-feature-icon {
    text-align: right;
    padding-top: 14px;
}
.blue-box P {
    font-family: 'Gotham-Book';
    font-size: 12px;
}
.box-padding {
    padding-left: 0;
}
.new-other-section {
    padding-top: 50px;
}
.other-section-img {
    background: url(../img/bg-img.png) no-repeat top center fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
}
.new-section {
    position: relative;
}
.mob-img {
    position: absolute;
    bottom: 30px;
}
.mob-img img {
    width: 100%;
}
.left-section {
    position: absolute;
    bottom: 93px;
    padding: 130px;
    color: #fff;
}
.left-section h3 {
    font-family: 'Gotham-Medium';
}
.left-section p {
    font-family: 'Gotham-Book';
    margin-bottom: 60px;
}
.progress-custom {
    width: 70%;
    border-radius: 0;
    height: 38px;
}
.progress-custom .progress-bar,.progress-custom2 .progress-bar,.progress-custom3 .progress-bar {
    font-family: 'Gotham-Medium';
    text-transform: uppercase;
    font-size: 15px;
    line-height: 40px;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}
.progress-custom2 {
    width: 80%;
    border-radius: 0;
    height: 38px;
}
.progress-custom3 {
    width: 90%;
    border-radius: 0;
    height: 38px;
}
.team-features {
    position: relative;
}
.team-desc {
    position: absolute;
    bottom: -18px;
    left: 15%;
    width: 200px;
    background-color: #fff;
}
.team-desc .blog-heading {
    margin-top: 10px;
    margin-bottom: 4px;
}
.team-desc p {
    color: #000;
    font-family: 'Gotham-Medium';
    font-size: 15px;
}
.team-desc .blog-heading {

}








#scrollTop {
    background: #2e85aa;
    text-decoration: none;
    width: 36px;
    height: 36px;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 6px;
    right: 9px;
    line-height: 30px;
    border-radius: 5px;
    display: inline;
}


